@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "nunitolight";
  src: url("../fonts/myfont-light-webfont.woff2") format("woff2"), url("../fonts/myfont-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "nunito";
  src: url("../fonts/myfont-regular-webfont.woff2") format("woff2"), url("../fonts/myfont-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "nunitoitalic";
  src: url("../fonts/myfont-italic-webfont.woff2") format("woff2"), url("../fonts/myfont-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "nunitobold";
  src: url("../fonts/myfont-bold-webfont.woff2") format("woff2"), url("../fonts/myfont-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  position: relative;
  font-size: 1.8rem;
  background-color: rgb(250, 250, 250);
  font-family: "nunito", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "nunito", sans-serif;
  font-weight: 400;
}

p {
  line-height: 150%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1em;
}

.policy-box {
  margin-top: 150px;
}

.policy-title {
  margin: 2em 0 1em 1em;
  font-weight: 800;
}

.policy-text {
  margin-bottom: 1em;
  line-height: 180%;
}

.section-container {
  margin: 0 auto;
  padding: 3em 0;
}

.sticky-body {
  overflow: hidden;
}

.section-title {
  position: relative;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: rgb(250, 208, 44);
  text-align: center;
  font-weight: 800;
  z-index: 10;
}

.link-color {
  position: relative;
  color: rgb(250, 208, 44);
  transition: color 0.3s;
  z-index: 1;
}
.link-color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(250, 208, 44);
  transition: width 0.3s;
  z-index: -1;
}
.link-color:hover::before {
  width: 100%;
}
.link-color:hover {
  color: #000000;
}

.special-btn {
  position: relative;
  padding: 1em 3em;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 3rem;
  border: 2px solid currentColor;
  color: rgb(250, 208, 44);
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  transition: transform 0.3s ease-in-out, color 0.3s, background-color 0.3s;
}
.special-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background-color: rgb(250, 208, 44);
  transform-origin: top left;
  transform: translate(-100%, 0) rotate(10deg);
  z-index: -1;
  transition: 0.3s transform ease-out;
}
.special-btn:hover::before {
  transform: translate(0);
}
.special-btn:hover {
  border: 2px solid transparent;
  color: #000000;
  transform: scale(1.05);
}

.cookie-box {
  padding: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  background-color: rgb(237, 237, 237);
  z-index: 2000;
  animation: cookieSlide 1s;
}
.cookie-box .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.cookie-btn {
  padding: 1.5em 3em;
  background-color: rgb(250, 208, 44);
  color: #000;
  border-radius: 8px;
  margin-left: 1em;
}

.cookie-hidden {
  display: none;
}

.msg-status {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
  max-width: 600px;
  font-size: 2.4rem;
  z-index: 1001;
}

.success {
  display: flex;
  background-color: rgb(250, 208, 44);
}

.error {
  display: flex;
  background-color: rgb(255, 0, 0);
}

.error-page {
  background-color: #fff;
}

.nofound {
  position: relative;
  padding: 20em 2em;
  background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
}
.nofound__text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nofound__text h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
  margin-bottom: 1em;
}
.nofound__text p {
  font-size: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(32, 32, 32, 0.1);
  z-index: 1000;
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.navbar__logo {
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.navbar__logo img {
  height: 60px;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  min-height: calc(100vh - 80px);
  transform: translateX(100%);
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
  overflow: auto;
}
.navbar__item {
  display: inline-block;
  margin-bottom: 2em;
  font-size: 3rem;
  list-style: none;
  text-transform: uppercase;
}
.navbar__item a {
  padding: 1em 2em;
  color: rgb(51, 54, 82);
  transition: color 0.3s;
}
.navbar__item--active a, .navbar__item a:hover {
  color: rgb(250, 208, 44);
}
.navbar .scroll-spy-repair {
  display: none;
}

.show-menu {
  transform: translateX(0);
  opacity: 1;
}

.header {
  position: relative;
  min-height: 100vh;
  height: 550px;
  background-image: url(../img/bulb-small-1.webp);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header__info {
  padding: 0.4em;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.header__info h1 {
  margin: 0.5em 0 3em;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 160%;
  letter-spacing: 1px;
  font-weight: 200;
}
.header__info p {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
}

.aboutus-box {
  display: flex;
  flex-direction: column;
}
.aboutus-box__img {
  width: 100%;
  max-width: 500px;
  margin: 2em auto;
  border-radius: 12px;
}
.aboutus-box__text p {
  color: rgb(51, 54, 82);
  font-size: 1.9rem;
  margin-bottom: 1em;
}

.offers {
  background-color: rgb(253, 253, 253);
}
.offers .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3.7em;
}
.offers .cards__item {
  height: 400px;
  max-width: 350px;
}
.offers .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  background-color: transparent;
  border: 1px solid #e9eaec;
  box-shadow: 5px 2px 10px 5px #e9eaec;
  border-radius: 12px;
  overflow: hidden;
  transform: scale(0.95);
  transition: transform 0.3s, border 0.3s;
}
.offers .card:hover, .offers .card:focus {
  transform: scale(1.02);
}
.offers .card__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  transition: opacity 0.3s;
}
.offers .card__icon {
  margin-top: 2em;
  margin-bottom: 1em;
}
.offers .card__icon .large-icon {
  color: rgb(250, 208, 44);
  width: 160px;
  height: 160px;
}
.offers .card__title {
  margin: 0;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  line-height: 160%;
}
.offers .card__overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 2em;
  background-color: rgb(250, 208, 44);
  background-color: rgb(250, 208, 44);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all 0.5s;
}
.offers .card__overlay::before {
  content: "Więcej...";
  color: dark;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.02em;
}
.offers .card__overlay:hover, .offers .card__overlay:focus {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 0;
}
.offers .card__overlay:hover::before, .offers .card__overlay:focus::before {
  content: none;
}
.offers .card__content {
  z-index: 1;
  padding: 1em;
  pointer-events: none;
  text-align: center;
  color: #000000;
  opacity: 0;
}
.offers .card__content h4 {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1em;
}
.offers .card__content p {
  font-family: "nunitoitalic", sans-serif;
  font-style: 2.1rem;
}
.offers .card__content-icon {
  text-align: center;
  margin-bottom: 1em;
}
.offers .card__content-icon .small-icon {
  color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
}
.offers .card__overlay:hover ~ .card__content {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}

.price {
  position: relative;
  background-image: url("../img/lamp-small.webp");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.price__box {
  margin-bottom: 2em;
}
.price__text {
  position: relative;
  width: 95%;
  padding: 3em 1em;
  margin-bottom: 2em;
  font-size: 2rem;
  line-height: 180%;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.contact {
  background-color: rgb(255, 255, 255);
}
.contact__wrapper {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact__info {
  display: flex;
  flex-direction: column;
}
.contact__info h3 {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.contact__info p {
  text-align: center;
  font-size: 2rem;
}
.contact__info a {
  padding: 0.5em;
  color: rgb(250, 208, 44);
  font-weight: 800;
  font-size: 2.5rem;
  transition: color 0.5s;
}
.contact__info a:hover {
  color: rgb(173, 151, 23);
}
.contact__info a:first-of-type {
  margin-top: 1em;
}
.contact__info .contact__icon {
  margin-right: 1em;
  width: 32px;
  height: 32px;
}
.contact .contact__form-box {
  padding: 0 0.5em;
  margin-top: 5em;
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  border: 1px solid #e9eaec;
  box-shadow: 0px 0px 10px 5px #e9eaec;
  border-radius: 8px;
  overflow: hidden;
}
.contact .contact__form-box .text {
  margin-top: 1em;
  text-align: center;
  font-size: 4rem;
  color: rgb(250, 208, 44);
}
.contact .contact__form-box form {
  padding: 2em 0;
}
.contact .contact__form-box form .form-row {
  display: flex;
  margin: 2em 0;
}
.contact form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0.5em 1em;
  position: relative;
}
.contact form .form-row .textarea {
  height: 70px;
}
.contact .input-data input,
.contact .textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.7rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  outline: transparent;
}
.contact .input-data input:focus ~ label, .contact .textarea textarea:focus ~ label,
.contact .input-data input:valid ~ label, .contact .textarea textarea:valid ~ label {
  transform: translateY(-25px);
  font-size: 1.6rem;
  color: rgb(250, 208, 44);
}
.contact .textarea textarea {
  resize: none;
  padding-top: 0.4em;
}
.contact .input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.contact .textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.contact .input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.contact .input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: rgb(250, 208, 44);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.contact .input-data input:focus ~ .underline:before,
.contact .input-data input:valid ~ .underline:before,
.contact .textarea textarea:focus ~ .underline:before,
.contact .textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.contact .form-btn {
  text-align: center;
  margin: 2.5em 0 0.5em;
}
.contact .contact__form-box .special-btn {
  width: 80%;
  padding: 0.5em;
}
.contact .form-info {
  font-size: 1.4rem;
  padding: 0 1em 3em;
  line-height: 170%;
}

.footer {
  text-align: center;
  border-top: 1px solid rgba(32, 32, 32, 0.1);
}

.footer__info {
  padding: 1em 0;
}

.footer__date {
  margin: 0 0.2em;
}

@media (max-width: 350px) {
  .special-btn {
    padding: 1em 2em;
  }
  .cards:last-child .card__icon {
    margin-bottom: 0;
  }
}
@media (min-width: 576px) {
  .price__text {
    max-width: 65%;
  }
}
@media (min-width: 768px) {
  .section-container {
    padding: 5em 0;
  }
}
@media (min-width: 992px) {
  p {
    line-height: 170%;
  }
  .section-title {
    font-size: 3.6rem;
  }
  .section-container-top {
    margin-top: 3em;
  }
  .navbar__burger-btn {
    display: none;
  }
  .navbar__list {
    flex-direction: row;
    justify-content: space-between;
    position: static;
    height: 80px;
    min-height: auto;
    width: auto;
    transform: translateX(0);
    opacity: 1;
    background: none;
    overflow: hidden;
  }
  .navbar__item {
    margin: 0;
    font-size: 2rem;
  }
  .navbar__item a {
    padding: 1em;
  }
  .header {
    background-image: url("../img/light-big.webp");
  }
  .header__info h1 {
    font-size: 2.6rem;
  }
  .header__info p {
    font-size: 6.5rem;
  }
  .aboutus-box {
    flex-direction: row;
    align-items: center;
    margin-top: 4em;
  }
  .aboutus-box__img {
    margin-bottom: 3em;
    margin-right: 5em;
    max-width: 400px;
  }
  .offers .cards {
    margin-top: 6em;
  }
  .offers .card {
    margin-bottom: 5em;
  }
  .offers .card:focus {
    outline: solid 1px transparent;
  }
  .price {
    background-image: url("../img/lamp-big.webp");
  }
  .contact__wrapper {
    flex-direction: row;
  }
  .contact__info {
    margin-top: 2em;
  }
  .contact .form-info {
    padding: 0 2em 3em;
  }
}
@media (min-width: 1200px) {
  .aboutus-box__img {
    max-width: 420px;
  }
  .price__text {
    max-width: 55%;
  }
  .price .special-btn {
    margin-left: 4em;
  }
  .contact .contact__form-box {
    max-width: 900px;
    margin-left: 2em;
  }
  .contact__info {
    min-width: 300px;
  }
}
@keyframes cookieSlide {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */