@use 'components.scss' as *;
@use 'colors.scss' as *;
@media (min-width: 992px) {
    p{
        line-height: 170%;
    }
    .section-title {
        font-size: 3.6rem;
    }
	.navbar {
        &__burger-btn {
            display: none;
        }
		&__list {
			flex-direction: row;
			justify-content: space-between;
			position: static;
			height: 80px;
            min-height: auto;
			width: auto;
			transform: translateX(0);
			opacity: 1;
			background: none;
			overflow: hidden;
		}
        &__item {
            margin: 0;
            font-size: 2rem;
            a {
                padding: 1em;
            }
        }
	}
    .header {
        background-image: url(../img/light-big.png);
        &__info {
            h1{
                font-size: 2.6rem;
            }
            p{
                font-size: 6.5rem;
            }
        }
    }
    .aboutus {
        &-container {
            margin-top: 3em;
        }
        &-box {
            flex-direction: row;
            align-items: center;
            margin-top: 4em;
            &__img {
                margin-bottom: 3em;
                margin-right: 5em;
                max-width: 400px;
            }
        }
    }
}


@media (min-width: 1200px) {
.aboutus{
    &-box {
        &__img {
            max-width: 420px;
        }
    }
}


}
