@use 'components.scss' as *;
@use 'colors.scss' as *;

.aboutus {
	&-box {
		display: flex;
		flex-direction: column;

		&__img {
			width: 100%;
			max-width: 500px;
			margin: 2em auto;
			border-radius: 12px;
		}
		&__text {
			p {
				color: $blue;
				font-size: 1.9rem;
				margin-bottom: 1em;
			}
		}
	}
}
.offers {
	background-color: rgb(253, 253, 253);
	.cards {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 3.7em;
	}

	.cards__item {
		height: 400px;
		max-width: 350px;
	}
	.card {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;
		background-color: transparent;
		border: 1px solid $first;
		box-shadow: 5px 2px 10px 5px $first;
		border-radius: 12px;
		overflow: hidden;
		transform: scale(0.95);
		transition: transform 0.3s, border 0.3s;
		&:hover,
		&:focus {
			transform: scale(1.02);
		}
	}

	.card__frame {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		transition: opacity 0.3s;
	}

	.card__icon {
		margin-top: 2em;
		margin-bottom: 1em;

		.large-icon {
			color: $yellow;
			width: 160px;
			height: 160px;
		}
	}

	.card__title {
		margin: 0;
		font-weight: 800;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		line-height: 160%;
	}

	.card__overlay {
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		padding: 2em;
		background-color: rgb(250, 208, 44);
		background-color: $yellow;
		border: 1px solid transparent;
		border-radius: 50%;
		transition: all 0.5s;

		&::before {
			content: 'Więcej...';
			color: dark;
			font-size: 14px;
			font-weight: 800;
			letter-spacing: 0.02em;
		}

		&:hover,
		&:focus {
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			box-shadow: none;
			border-radius: 0;
			&::before {
				content: none;
			}
		}
	}

	.card__content {
		z-index: 1;
		padding: 1em;
		pointer-events: none;
		text-align: center;
		color: $dark;
		opacity: 0;

		h3 {
			font-size: 2.8rem;
			font-weight: bold;
			margin: 0;
			margin-bottom: 1em;
		}
		p {
			font-family: $italic-font;
			font-style: 2.1rem;
		}
	}
	.card__content-icon {
		text-align: center;
		margin-bottom: 1em;
		.small-icon {
			color: $white;
			width: 100px;
			height: 100px;
		}
	}
	.card__overlay:hover ~ .card__content {
		opacity: 1;
		transition: opacity 0.3s 0.3s;
	}
}
.price {
	position: relative;
	background-image: url('https://cdn.pixabay.com/photo/2017/08/20/20/20/lamp-2663053_1280.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	&__box {
		margin-bottom: 2em;
	}
	&__text {
		position: relative;
		width: 95%;
		padding: 3em 1em;
		margin-bottom: 2em;
		font-size: 2rem;
		line-height: 180%;
		color: $white;
z-index: 2;
	}
}
.contact {
	background-color: $white;
	&__wrapper {
		margin-top: 3em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
&__info {
	display: flex;
	flex-direction: column;
	h3 {
		text-align: center;
		font-size: 2.4rem;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	p {
		text-align: center;
font-size: 2rem;
	}
	a{
		padding: .5em;
		color: $yellow;
		font-weight: 800;
		font-size: 2.5rem;
		transition: color 0.5s;
		&:hover {
color:rgb(173, 151, 23);
		}
	}
	a:first-of-type {
		margin-top: 1em;
	}
	.contact__icon{
		margin-right: 1em;
		width: 32px;
		height: 32px;
	}
}
.contact__form-box{
	padding: 0 0.5em;
	margin-top: 5em;
	background-color: $white;
	max-width: 600px;
	border: 1px solid #e9eaec;
	box-shadow: 0px 0px 10px 5px #e9eaec;
	border-radius: 8px;
	overflow: hidden;
  }
  .contact__form-box .text{
	margin-top: 1em;
	text-align: center;
	font-size: 4rem;
  color: $yellow;
  }
  .contact__form-box form{
	padding: 2em 0;
  }
  .contact__form-box form .form-row{
	display: flex;
	margin: 2em 0;
  }
  form .form-row .input-data{
	width: 100%;
	height: 40px;
	margin: 0.5em 1em;
	position: relative;
  }
  form .form-row .textarea{
	height: 70px;
  }
  .input-data input,
  .textarea textarea{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 1.7rem;
	border-bottom: 2px solid rgba(0,0,0, 0.12);
	outline: transparent;
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
	transform: translateY(-25px);
	font-size: 1.6rem;
	color: $yellow;
  }
  .textarea textarea{
	resize: none;
	padding-top: 0.4em;
  }
  .input-data label{
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 1.6rem;
	transition: all 0.3s ease;
  }
  .textarea label{
	width: 100%;
	bottom: 40px;
	background: #fff;
  }
  .input-data .underline{
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
  }
  .input-data .underline:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: $yellow;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
	transform: scale(1);
  }
  .form-btn {
	text-align: center;
	margin: 2.5em 0 0.5em;
  }
  .contact__form-box .special-btn {
width: 80%;
padding: 0.5em;
  }
  .form-info{
font-size: 1.4rem;
padding:0 1em 3em ;
line-height: 170%;
  }
}
.footer {
text-align: center;
border-top: 1px solid rgb(32, 32, 32, 0.1) ;
}
.footer__info {
	padding: 1em 0;
}
.footer__date {
	margin: 0 0.2em;
}
