@use 'components.scss' as *;
@use 'colors.scss' as *;


@media(max-width:350px){
    .special-btn {
        padding: 1em 2em;
    }
    .cards:last-child .card__icon {
        margin-bottom: 0;
    }
}
@media(min-width:576px){
    .price__text {
        max-width: 65%;
    }
}
@media(min-width:768px){
    .section-container {
        padding: 5em 0;
    }

}